@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}
ul{
    text-decoration: none;
    font-family: 'raleway', sans-serif;
    font-weight: 500;
    font-size: 18px;
}
.servicios ul{
    text-decoration: none;
    font-family: 'raleway', sans-serif;
    font-weight: 400;
    font-size: 4vh;
}
header{
    grid-area: header;
    min-height: 10vh;
    background-color: #3E49D3  ;
}
.contenedorPadre{
    display: grid;
    grid-template-areas:
    "header header header header"
    "hero hero hero hero"
    "nos nos nos nos"
    "boxes boxes boxes boxes"
    "sidebar sidebar serv serv"
    "conversor conversor prices prices"
    "contacto contacto map map"
    "footer footer footer footer";
    grid-template-columns: 1fr 1fr 1fr 1rf;
}
.heroContainer{
    grid-area: hero;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
}
/* #heroHome {
    background-image:linear-gradient(rgb(130, 148, 196, 0.8), rgba(255, 255, 255, 0.8)), url(../img/bsas.webp);
} */
.heroBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 1;
}
.boxes{
    /*background-image: url(../img/5594016.jpg);*/
    grid-area: boxes;
    background-color: #f5f6ff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 45vh;
}
.box{
    background-color: #ACB1D6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 20vw;
    max-width: 250px;
    min-height: 33vh;
    padding: 0px 0px 15px 0px;
    border-radius: 5px;
    margin: 20px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}
.boxPic{
    width: 100%;
    height: 85px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}
#boxPic1{
    background-image: url(../img/buenos\ aires.png);
}
#boxPic2{
    background-image: url(../img/buenos\ aires1.png);
}
#boxPic3{
    background-image: url(../img/teatro-colon_exterior_001.jpg);
}
.sidebar{
    grid-area: sidebar;
    background-image: url("../img/mujer_laptop.jpg" );
    background-position: center;
    background-repeat: no-repeat;
    background-position: cover;
    background-size: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.nos{
    background-color: #ffff;
    grid-area: nos;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    min-height: 45vh;
}
.nosText{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 80%;
}
.servicios{
    grid-area: serv;
    background-color: #EBF3F9;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    min-height: 90vh;
}
.map{
    grid-area: map;
    display: flex;
    min-height: 90vh;
}
.contacto{
    grid-area: contacto;
    background-color: #EBF3F9;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    font-size: smaller;
    padding: 15px;
    min-height: 90vh;
}
.form{
    background-color: #ACB1D6;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    border-radius: 7px;
    border: 0;
    font-family: Raleway;
    font-size: 15px;
    text-align: left;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}
footer {
    height: 15vh;
    grid-area: footer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #DBDFEA;
}
/* ******* */
/* BOTONES */
/* ******* */
.sButton{
    border: none;
    border-radius: 8px;
    width: 100px;
    padding: 1%;
    background-color: #EBF3F9;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.9);
    font-family: 'raleway', sans-serif;
    color: #3E49D3;
}
/* ******* */
/* TEXTOS */
/* ******* */
#titulo1{
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-weight: 300px;
    color: #EBF3F9;
    font-size: 10vw;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
    font-family: 'raleway', sans-serif;
    color: #EBF3F9;
    font-size: 4vh;
}
h3{
    text-align: right;
    font-family: 'raleway', sans-serif;
    color: #EBF3F9;
    font-size: 4vh;
}
h4{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #EBF3F9;
    font-size: 3vh;
}
p{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1.8vh;
}
.box p {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1.4vh;
}
/* ************** */
/* CONVERSOR */
/* ************** */
.prices{
    grid-area: prices;
    background-image: url(../img/prices.jpg);
    background-size: 90%;
    background-repeat:no-repeat;
    background-position: center;
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: 35px;
    min-height: 90vh;
}
.conversor{
    grid-area: conversor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f4ff;
    min-height: 90vh;
}
.btn{
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px 12px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
.moneda{
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.moneda select{
    padding: 10px 20px 10px 10px;
    border: 1px solid #dedede;
    font-size: 16px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
.moneda input {
    border: 0;
    font-size: 30px;
    text-align: right;
}
.taza-cambio-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cambio{
    font-size: 14px;
    padding: 0 10px;
    font-weight: 600;
}
select:focus, input:focus, button:focus{
    outline: 0;
}
/* ************** */
/* MEDIA QUERRIES */
/* ************** */
@media screen and (max-width:480px){
    .contenedorPadre{
        display: grid;
        grid-template-areas:
        "header header header"
        "hero hero hero"
        "boxes boxes boxes"
        "nos nos nos"
        "sidebar sidebar sidebar"
        "serv serv serv"
        "prices prices prices"
        "conversor conversor conversor"
        "contacto contacto contacto"
        "map map map"
        "footer footer footer";
        grid-template-columns: 100%;
    }
    #titulo1{
        text-align: center;
        font-family: 'Anton', sans-serif;
        font-weight: 300px;
        color: #EBF3F9;
        font-size: 55px;
    }
}
@media (max-width:600px) {
    .moneda input{
        width: 200px;
    }
/* ------------ ANIMACION ------------ */
}
#heroHome {
    position: relative;
    overflow: hidden;
}
#heroHome:before {
    content: "";
    position: absolute;
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
    background-image: linear-gradient(rgb(130, 148, 196, 0.8), rgba(255, 255, 255, 0.8)), url(../img/bsas.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: kenBurns 30s infinite;
    z-index: 0;
}
/* ------------ KEYFRAMES ------------ */
@keyframes kenBurns {
    0% {
            transform: scale(1) translate(0);
    }
    25% {
            transform: scale(1.1) translate(2.5%, 2.5%);
    }
    50% {
            transform: scale(1.2) translate(5%, 5%);
    }
    75% {
            transform: scale(1.1) translate(2.5%, 2.5%);
    }
    100% {
            transform: scale(1) translate(0);
    }
}