@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}
ul{
    text-decoration: none;
    font-family: 'raleway', sans-serif;
    font-weight: 500;
    font-size: 18px;
}
header{
    grid-area: header;
    min-height: 10vh;
    background-color: #3E49D3  ;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.9);
}
.contenedorPadre{
    display: grid;
    grid-template-areas:
    "hero hero hero hero"
    "boxes boxes boxes boxes"
    "nos nos nos nos"
    "sidebar sidebar serv serv"
    "contacto contacto map map"
    "footer footer footer footer";
    grid-template-columns: 1fr 1fr 1fr 1rf;
}
.heroContainer{
    grid-area: hero;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.9);
    min-height: 90vh;
}
#heroHome {
    background-image:linear-gradient(rgb(130, 148, 196, 0.8), rgba(255, 255, 255, 0.8)), url(../img/bsas.webp);
}
#heroNosotros {
    background-image:linear-gradient(rgba(72, 219, 251, 0.3), rgba(255, 255, 255, 0.8)), url(../img/puerto-madero-588398_1280.jpg);
}
#heroServicios {
    background-image:linear-gradient(rgba(72, 219, 251, 0.3), rgba(255, 255, 255, 0.8)), url(../img/lugares-tur__sticos-de-Buenos-Aires.jpg);
}
#heroReservas {
    background-image:linear-gradient(rgba(72, 219, 251, 0.3), rgba(255, 255, 255, 0.8)), url(../img/teatro-colon_exterior_001.jpg);
}
#heroContacto {
    background-image:linear-gradient(rgba(72, 219, 251, 0.3), rgba(255, 255, 255, 0.8)), url(../img/lugares-tur__sticos-de-Buenos-Aires.jpg);
}
.heroBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.boxes{
    /*background-image: url(../img/5594016.jpg);*/
    grid-area: boxes;
    background-color: #EBF3F9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.box{
    background-color: #ACB1D6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 20vw;
    max-width: 250px;
    min-height: 33vh;
    padding: 0px 0px 15px 0px;
    border-radius: 5px;
    margin: 20px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.9);
}
.boxPic{
    width: 100%;
    height: 85px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}
#boxPic1{
    background-image: url(../img/buenos\ aires.png);
}
#boxPic2{
    background-image: url(../img/buenos\ aires1.png);
}
#boxPic3{
    background-image: url(../img/teatro-colon_exterior_001.jpg);
}
.sidebar{
    grid-area: sidebar;
    background-image: url("../img/mujer_laptop.jpg" );
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
}
.nos{
    grid-area: nos;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
}
.nosText{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 80%;
}
.servicios{
    grid-area: serv;
    background-color: #EBF3F9;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
.map{
    grid-area: map;
    display: flex;
}
.contacto{
    grid-area: contacto;
    background-color: #EBF3F9;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    font-size: smaller;
    padding: 15px;
}
.form{
    background-color: #ACB1D6;
    display:flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 15px;
}
footer {
    height: 8vh;
    grid-area: footer;
    display: flex;
    flex-direction: row;
    background-color: #DBDFEA;
}
/* ******* */
/* TEXTOS */
/* ******* */
#titulo1{
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-weight: 300;
    color: #EBF3F9;
    font-size: 15vh;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
    font-family: 'raleway', sans-serif;
    color: #EBF3F9;
    font-size: 4vh;
}
h3{
    text-align: right;
    font-family: 'raleway', sans-serif;
    color: #EBF3F9;
    font-size: 4vh;
}
h4{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #EBF3F9;
    font-size: 3vh;
}
p{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1.8vh;
}
.box p {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1.4vh;
}
/* ******* */
/* FOOTER */
/* ******* */
@media screen and (max-width:480px){
    .contenedorPadre{
        display: grid;
        grid-template-areas:
        "hero hero hero"
        "boxes boxes boxes"
        "nos nos nos"
        "sidebar sidebar sidebar"
        "serv serv serv"
        "contacto contacto contacto"
        "map map map"
        "footer footer footer";
        grid-template-columns: 100%;
    }
}