*{
    padding: 0;
    margin: 0;
}
header{
    grid-area: header;
    width: 100%;
    min-height: 10vh;
    background-color: #54a0ff;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.9);
}
.contenedorPadre{
    display: grid;
    grid-template-areas:
    "header header header header"
    "hero hero hero hero"
    "boxes boxes boxes boxes"
    "footer footer footer footer";
    grid-template-columns: 100%;
}
.hero{
    grid-area: hero;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.9);
    min-height: 90vh;
}
#heroHome {
    background-image:linear-gradient(rgba(72, 219, 251, 0.3), rgba(255, 255, 255, 0.8)), url(../img/lugares-tur__sticos-de-Buenos-Aires.jpg);
}
#heroNosotros {
    background-image:linear-gradient(rgba(72, 219, 251, 0.3), rgba(255, 255, 255, 0.8)), url(../img/lugares-tur__sticos-de-Buenos-Aires.jpg);
}
#heroServicios {
    background-image:linear-gradient(rgba(72, 219, 251, 0.3), rgba(255, 255, 255, 0.8)), url(../img/lugares-tur__sticos-de-Buenos-Aires.jpg);
}
#heroReservas {
    background-image:linear-gradient(rgba(72, 219, 251, 0.3), rgba(255, 255, 255, 0.8)), url(../img/teatro-colon_exterior_001.jpg);
}
#heroContacto {
    background-image:linear-gradient(rgba(72, 219, 251, 0.3), rgba(255, 255, 255, 0.8)), url(../img/lugares-tur__sticos-de-Buenos-Aires.jpg);
}
.heroBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main{
    background-color: #ecf0f1;
}
.boxes{
    /*background-image: url(../img/5594016.jpg);*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: boxes;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 3%;
}
.box{
    background-image: url(../img/17545.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 250px;
    height: 250px;
    border-radius: 5px;
    margin: 20px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.9);
}
.boxPic{
    width: 200px;
    height: 85px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}
#boxPic1{
    background-image: url(../img/buenos\ aires.png);
}
#boxPic2{
    background-image: url(../img/buenos\ aires1.png);
}
#boxPic3{
    background-image: url(../img/teatro-colon_exterior_001.jpg);
}
/* ******* */
/* TEXTOS */
/* ******* */
h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #222f3e;
    font-size: 7vh;
}
h2{
    text-align: center;
    font-family: 'raleway', sans-serif;
    color: #222f3e;
    font-size: 4vh;
}
h4{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #222f3e;
    font-size: 3vh;
}
p{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #222f3e;
    font-size: 2vh;
}
/* ******* */
/* FOOTER */
/* ******* */
footer {
    height: 8vh;
    grid-area: footer;
    background-color: #54a0ff;
    background-image: url(/img/ptt_b.svg);
    color:#ecf0f1;
}